<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Web-App</title>
</head>
<body>
    <%-include("partials/header.ejs") %>
    <div class="clock"><button onclick="window.location.href='/'"><%= time.time %></button></div>
    <h1><%= title %> ~ <%= time.dd %>, <%= time.mm %> <%= time.yyyy %></h1>
    <ul id="task-container">
        <% items.forEach(task => { %>
            <form id="check-box" action="/remove" method="post">
                <div id="task-div">
                    <input type="checkbox" name="checkbox" id="checks" value="<%= task._id %>" onchange="this.form.submit()">
                    <li><%= task.name %></li>
                </div>
                <input type="hidden" name="listName" value="<%= title %>">
            </form>
        <% }); %>
        <form action="/" method="post">
            <input type="text" name="task" id="data" autocomplete="off" placeholder="Add new task here..">
            <button type="submit" id="add-new" name="list" value="<%= title %>">+</button>
        </form>
    </ul>
    <%-include("partials/footer.ejs") %>
</body>
</html>